Repository ant-design/ant-design, pull requests merged in 2019-01, with the labels that each got.

#14245 Update interface.tsx
  components/table/interface.tsx
Labels: Component: Table, TypeScript

#14248 feat: Anchor className should pass down.
  components/anchor/AnchorLink.tsx
Labels: Component: Anchor, Enhancement

#14240 ts: Extend ListItemProps from native div element attributes
  components/list/Item.tsx
Labels: Component: List, TypeScript

#14574 Update practical-projects.zh-CN.md and practical-projects.en-US.md
  docs/react/practical-projects.en-US.md
  docs/react/practical-projects.zh-CN.md
Labels: Workflow
